<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>51613872465-j87rtags0ia9aapfadvp30gmdt359jnq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.51613872465-j87rtags0ia9aapfadvp30gmdt359jnq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>51613872465-q7mdej2bm461mlhpghsrluamkuegnt10.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCw29QZChRaJUcGvsHNvW9SdN3f8topzbM</string>
	<key>GCM_SENDER_ID</key>
	<string>51613872465</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rmd.business.finwallet</string>
	<key>PROJECT_ID</key>
	<string>finance-wallet-9207</string>
	<key>STORAGE_BUCKET</key>
	<string>finance-wallet-9207.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:51613872465:ios:c4984539cd7f5e9f6f6370</string>
</dict>
</plist>